.AssetsContainer {
  .rioPageHeader {
    .AssetsClaimTokenBtn {
      text-transform: capitalize;
      border-radius: 36px;
      min-width: 170px;
      min-height: 36px;
      font-size: 16px;
      margin-left: 24px;

      @media (max-width: 767px) {
        display: none;
      }

      &:disabled {
        &::after {
          border-radius: 36px;
        }
      }
    }
  }

  .AssetsTabs {
    margin: 32px 0px;
  }
}
