.header-side {
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  // padding: 1%;
  // position: fixed;
  // top: 0;
  // right: 0;
  // left: 0;
  // z-index: 1030;
  // -webkit-transition: background 1s ease 0s;
  // transition: background 1s ease 0s; 
  // background-color: rgba(255,255,255,0);
  background-color: rgba(255, 255, 255, 0);
  cursor: default;
  position: fixed;
  top: 0px;
  transition: background-color 0.5s ease 0s, box-shadow 0.5s ease 0s;
  width: 100vw;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  padding: 1rem 5rem;
}

// .header-side[data-active] {
//   background-color: rgb(255, 255, 255);
//     box-shadow: rgb(9 30 66 / 15%) 0px 0.5rem 1rem 0px;
// }

html.scroll .header-side {
  background-color: #fff;
  box-shadow: 0 0 10px rgb(0 0 0 / 30%);
}