.RioDashboardContainer {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100vh;
  color: var(--white);
  background-color: var(--rio-background);

  .DashboardInner {
    display: flex;
    width: 100%;

    .DashboardContent {
      flex: 1;
      height: calc(100vh - var(--header-height-lg));
    }

    @media (max-width: 1366px) {

      .DashboardContent {
        height: calc(100vh - var(--header-height-md));
      }
    }
  }

  @media (max-width: 768px) {
    .DashboardInner {
      padding-top: 0px;
      .DashboardContent {
        height: auto;
      }
    }
  }
}
