.RioCardWrapper {
  position: relative;
  box-shadow: 0px 5px 5px var(--black20);
  margin-bottom: 28px;
  .RioCarCardContent {
    display: flex;
    align-items: stretch;
  }
  .RioStationBottom {
    padding: 16px 20px;

    .BottomDesc {
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .carName {
        .carLabel {
          color: var(--gray);
        }
        .classSection {
          color: var(--gray);
        }
      }
      .priceWrapper {
        .priceLabel {
          color: var(--gray);
        }
        .priceValue {
          font-weight: 600;
        }
      }
    }
    .buyBtnWrapper {
      margin-top: 10px;
      .RioButton.primary {
        transition: background 0.3s, color 0.3s;

        background: var(--rio-primary_hover);
        &:hover {
          background: transparent;
          color: var(--rio-primary);
          border: 1px solid var(--rio-primary);
        }
      }
    }
  }
  .RioCartbottom {
    padding: 16px 20px;
    .BottomDesc {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .carName {
        .classSection {
          color: #ababab;
        }
      }
      .priceWrapper {
        .priceLabel {
          color: #ababab;
        }
        .priceValue {
          font-weight: 600;
        }
      }
    }
    .buyBtnWrapper {
      margin-top: 10px;
      .RioButton.primary {
        transition: background 0.3s, color 0.3s;

        background: #5c0e65;
        &:hover {
          background: transparent;
          color: #d339fa;
          border: 1px solid #d339fa;
        }
      }
    }
  }
  .RioCarBottom {
    padding: 16px 20px;
    cursor: pointer;

    .BottomDesc {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .carName {
        .classSection {
          color: var(--gray);
        }
      }
      .priceWrapper {
        .priceLabel {
          color: var(--gray);
        }
        .priceValue {
          font-weight: 600;
        }
      }
    }
    .buyBtnWrapper {
      margin-top: 10px;
      .RioButton.primary {
        transition: background 0.3s, color 0.3s;

        background: var(--rio-primary_hover);
        &:hover {
          background: transparent;
          color: var(--rio-primary);
          border: 1px solid var(--rio-primary);
        }
      }
    }
  }
  .RioCarActions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--rio-menu);
    padding: 16px 20px;
    .carName {
      color: var(--rio-secondary);
      font-size: 16px;
      font-weight: 600;
      &:hover {
        cursor: pointer;
      }
    }
    .carButtonWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: var(--rio-secondary);
      font-weight: 600;
      .priceWrapper {
        margin-bottom: 3px;
      }
    }
  }

  .BalanceRow {
    background: var(--black);
    display: flex;

    .BalanceCol {
      flex: 1;
      display: flex;
      flex-direction: column;
      border-left: 1px solid;
      justify-content: center;
      align-items: center;
      border-color: var(--rio-menu);
      padding-top: 36px;
      padding-bottom: 12px;

      .subtitle2 {
        color: var(--gray);
      }
    }
  }

  .UserActivities {
    ul {
      background: var(--black);
      padding: 32px 22px 26px 20px;
      margin-bottom: 0px;

      li {
        list-style: none;
        padding-left: 20px;
        position: relative;

        &::before {
          content: "";
          display: block;
          height: 15px;
          width: 15px;
          background: var(--gray2);
          border-radius: 50%;
          position: absolute;
          left: -7px;
          top: 7px;
          z-index: 1;
        }

        &::after {
          content: "";
          display: block;
          position: absolute;
          height: 100%;
          border-left: 1px solid;
          border-color: var(--gray1);
          top: 7px;
          left: 0px;
        }

        .activityRow {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-bottom: 32px;

          .activityType {
            .dateTime {
              opacity: 0.34;
            }
          }
        }

        &:last-child {
          &::after {
            display: none;
          }

          .activityRow {
            padding-bottom: 0px;
          }
        }
      }
    }
  }
}
.rio-StationCard {
  .rio-StationCardContent {
    border: 1px solid #444;
    border-radius: 5px;
    padding: 15px;

    .title {
      font-weight: 500;
      font-size: 18px;
      margin-bottom: 10px;
      color: var(--gray-light-fc);
      white-space: nowrap;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .sb-title {
      color: var(--gray-light-fc);
      margin-right: 8px;
    }

    .rio-StationImage {
      width: 100%;
      height: auto;
      margin-bottom: 15px;

      img {
        width: 100%;
      }
    }

    .accruedTokens {
      display: flex;

      .color-white {
        color: var(--white);
      }
    }
  }
}
.buyLoadingIndicator {
  display: flex;
  align-items: center;
}
.ant-spin-spinning {
  display: flex;
  align-items: center;
  .ant-spin-dot.ant-spin-dot-spin {
    .ant-spin-dot-item {
      background-color: white;
    }
  }
}
.SelectedCarBar {
  padding: 6px !important;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 10;
  font-size: 12px;
  text-align: center;
  font-weight: var(--font-medium);
  background: #676767;
  font-weight: 600;
  letter-spacing: 0.3px;

  .remainTimValue {
    color: #e2e297;
    letter-spacing: 1px;
    padding-left: 2px;
  }
  .progressBar {
    transition: width 3s linear;
    content: "";
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: var(--rio-secondary);
  }
  &.expired {
    .progressBar {
      background-color: var(--rio-error);
    }
  }
}
.closeIconWrapper {
  position: absolute;
  top: -8px;
  right: -8px;
  border-radius: 50%;
  background-color: black;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 11;
  transition: all 0.3s;
  &:hover {
    background-color: white;
    color: black;
    cursor: pointer;
  }
}

.cartCardButtonGroup {
  display: grid;
  grid-template-columns: 55px 1fr;
  grid-gap: 6px;
  & > button {
    min-width: unset !important;
  }
}
