:root {
  --color-red: #F22751;
  --color-red1: #F22751;
  --color-gray-1: #48435C;
  --color-gray-2: #5A5766;
  --color-white: #F9F9F9;
  --color-white-1: #FFFFFF;
  --color-white-2: #E5E5E5;
  --color-black: #000000;
}