.RioButton {
  border: 0px;
  border-radius: 8px;
  text-transform: uppercase;
  min-height: 45px;
  min-width: 150px;
  color: var(--white);
  font-weight: var(--font-bold);
  font-size: 14px;
  letter-spacing: 0.6px;
  transition: none;
  display: flex;
  align-items: center;
  justify-content: center;

  &.small {
    min-height: 30px;
    min-width: 90px;
  }

  &.primary {
    background: linear-gradient(
      90deg,
      var(--rio-primary),
      var(--rio-primary_variant)
    );

    &:focus,
    &:active,
    &:hover {
      background: var(--rio-primary_hover);
    }

    &:disabled {
      position: relative;
      color: var(--white);

      &:hover {
        background: linear-gradient(
          90deg,
          var(--rio-primary),
          var(--rio-primary_variant)
        );
      }

      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        background: var(--black30);
        border-radius: 8px;
      }
    }
  }

  &:focus,
  &:active,
  &:hover {
    color: var(--white);
  }

  &.ant-btn-text {
    border: 2px solid;
  }

  &.icon-button {
    padding: 0px;
    min-width: 45px;
    max-width: 45px;
  }
}
