@import '../../style/abstract/mixin';

@font-face {
  font-family: 'ubuntu';
  src: local('ubuntu'), url(../../assets/fonts/Ubuntu-Bold.ttf) format('truetype');
}

.header-side {
  background-color: white !important;
}

.card-header {
  // background-color: white !important;
  @extend .header-side;
  border-bottom: none !important;
}

.header-item-side {
  color: #48435C;
  font-weight: 500;
  font-style: normal;
  font-size: 16PX;
  line-height: 25px;
  padding: 0 1rem;

  a {
    color: rgb(0 0 0 / 52%);
    text-decoration: unset;
    padding-top: 0rem;
  }
}

.w3-xxxlarge {
  list-style: none;
  color: rgba(0,0,0,.55);

  @include respond(xl) {
    display: block !important;
    padding-top: 15px;
    font-size: 21px;
  }
}

.response-header-item-side {
  position: fixed;
  width: 100%;
  background-color: #505050;
  opacity: 0.7;
  top: 61px;
  color: rgba(0,0,0,.55);

  @include respond(sm) {
    display: none!important;
  }

  .nav-link {
    @extend .w3-xxxlarge;
    cursor: pointer;
    font-size: 1rem;
    line-height: 1rem;
  }

    a {
      color: rgb(0 0 0 / 52%);
      text-decoration: unset;
      padding-top: 0.5rem;
    }
}


.header-logo {
  @include respond(xs) {
    display: none;
  }
}

.response-header-logo {
  @include respond(xs) {
    display: block !important;
    height: 35px;
  }
}

.original-nav {
  @include respond(xl) {
    display: none !important;
  }
}
