.technology-category-item-area {
  width: 20% !important;
}

.technology-category-side h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 62px;
  padding: 0 6rem;
  color: #48435C;
  text-align: left;
}

.technology-category-side span {
  color: #F22751;
}

.technology-category-side {
  padding: 3rem 0;
}

@media only screen and (max-width: 991px) {
  .technology-category-side .container {
    max-width: 100%;
  }

  .technology-category-side .col-md-6 {
    width: 100%;
  }

  .technology-category-side h1 {
    text-align: center;
  }
}

@media only screen and (max-width: 991px) {
  .technology-category-side h1 {
    font-size: 3rem;
    line-height: 2rem;
  }
}