:root {
  --color-black1: #091e42;
  --color-black2: rgb(234, 230, 255);
  --color-black3: rgb(255, 255, 255);
  --color-white-4: rgb(250, 251, 252);
  --color-white-5: rgb(223, 225, 230);
  --color-gray-1: #dfe1e6;
  --color-green-1: rgb(0, 102, 68);
  --color-green-2: #36b37e;
}